<div class="main">
  <%= image_tag 'logo-circle.svg', class: 'logo-circle' %>
  <h3 class="primary-color">REVIEWHUNT</h3>
  <h1>Build Launching Hype<br/>by Millions of Hunters</h1>
  <div class="actions">
    <button class="btn btn-primary">PRE SIGN-UP<br/>MAKERS</button>
    <button class="btn">PRE SIGN-UP<br/>HUNTERS</button>
  </div>
  <%= image_tag 'main-img-2.png', srcset: { 'main-img-2@2x.png' => '2x', 'main-img-2@3x.png' => '3x' }, class: 'main-img' %>
</div>