@import "./mixins";
@import url(https://fonts.googleapis.com/css?family=Comfortaa:700|Roboto:300,400,900);

html, body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;

  @include responsive(tablet) {
    font-size: 14px;
  }

  @include responsive(mobile) {
    font-size: 11px;
  }

  @include responsive(tiny) {
    font-size: 10px;
  }
}

h1, h2, h3, h4 {
  font-family: 'Comfortaa', cursive;
  font-weight: 700;

  &.sans {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
  }
}

h1 {
  font-size: 4rem; // 64

  &.bigger {
    font-size: 5rem;
  }
}

h2 {
  font-size: 3rem; // 48
}

h3, h4 {
  font-size: 2em; // 32
}

a {
  text-decoration: none;
  color: $primary;
}

.primary-color {
  color: $primary;
}

.grey {
  color: $grey;
}

.error {
  color: #f5222d;
}

.normal {
  font-weight: 400 !important;
}

.thin {
  font-weight: 300 !important;
}

.grey-gradient {
  background-color: #151515;
  background-image: linear-gradient(107deg, #151515, #242632);
}

.btn {
  display: inline-block;
  cursor: pointer;
  outline: none;
  padding: 0.625em 2.5em;
  font-size: 1.375rem;
  border: 1px solid $primary;
  border-radius: 50vh;
  background-color: transparent;
  color: $primary;
  text-align: center;

  &.btn-primary {
    background-color: $primary;
    color: #000;
  }
}

input {
  outline: none;
}