@import "./mixins";

body {
  background-color: $black;
  color: #fff;
  word-break: keep-all;
}

.fancy-canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.main {
  padding-bottom: 9.375rem;
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 100;
  text-align: center;

  .right-top {
    position: absolute;
    top: 1em;
    right: 1em;

    .toggle-button {
      width: 28px;
      height: 28px;
      vertical-align: top;
      margin-right: 1rem;
      cursor: pointer;
      margin-top: 1.5px;
    }
  }

  .language {
    display: inline-block;
    border: 1px solid $primary;
    border-radius: 5px;
    color: $primary;
    padding: 0.3rem 1.2rem;
  }

  .logo-circle {
    margin-top: -35px;
    width: 380px;
    height: 380px;
    object-fit: contain;

    @include responsive(mobile) {
      width: 280px;
      height: 280px;
    }
  }

  h3 {
    margin-top: -105px;
    margin-bottom: 0;

    @include responsive(mobile) {
      margin-top: -70px;
    }
  }

  h1 {
    max-width: 800px;
    margin: 1em auto;

    &.less-margin {
      margin: 0.3em auto;
    }

    @include responsive(mobile) {
      font-size: 3rem;
      margin: 1em 0 2em 0;
    }
  }

  .actions {
    .btn {
      margin: 0 0.5625rem;
    }
  }

  .thank-you {
    margin-top: 2rem;
    margin-bottom: -2rem;
    font-size: 1.5rem;

    .tick {
      width: 1.2rem;
      height: 1.2rem;
      margin-right: 0.3rem;
      object-fit: contain;
    }
  }

  .timer-container {
    margin-top: 50px;
    .timer {
      font-size: 2.65rem;
    }
  }

  .main-img {
    margin-top: 40px;
    width: 1020px;
    max-width: 96%;
    height: auto;
  }
} // .main

.padded {
  max-width: 1200px;
  padding: 0 5%;
  margin: 0 auto;

  @include responsive(tablet) {
    max-width: 1000px;
  }
}

.maker-stats, .hunter-stats, .token-demands {
  padding-top: 9.375rem;
  padding-bottom: 9.375rem;

  h1 {
    max-width: 810px;
    margin: 0;

    @include responsive(vertical) {
      font-size: 4rem;
    }
  }

  .split {
    margin-top: 5rem;
    overflow: hidden;

    .left, .right {
      width: 50%;

      @include responsive(vertical) {
        width: 100%;
        float: none;
      }
    }

    .left {
      float: left;
    }

    .right {
      float: right;
    }

    .first {
      @include responsive(vertical) {
        text-align: center;
      }

      img {
        width: 70%;
        height: auto;

        @include responsive(vertical) {
          width: 100%;
        }
      }

      .m-dashboard, .sync-exchange-img {
        float: right;

        @include responsive(vertical) {
          float: none;
        }
      }

      .sync-exchange-img {
        @include responsive(vertical) {
          margin-bottom: 3rem;
        }
      }
    }

    .second {
      h3 {
        line-height: 1.35;
      }
      p {
        line-height: 1.67;
        font-size: 1.5rem;
      }
      .btn {
        margin: 1rem 0 3rem 0;
      }
    }

    table {
      width: 100%;
      background-color: #121217;
      color: #9b9b9b;
      border: 0;
      border-radius: 8px;
      border-spacing: 0;

      th, td {
        text-align: left;
        border-bottom: 1px solid #3e3f42;
        padding: 0.8rem 1rem;
      }

      tr:last-child > td {
        border-bottom: none;
      }
    }
  } // .split
} // .maker-stats, .hunter-stats

.hunter-stats {
  margin-top: 0;

  .progress {
    height: 8px;
    border-radius: 50vh;
    margin: 1rem 0 0.3125rem 0;
    background-color: $primary;
    background-image: linear-gradient(89deg, #00f198, #08f6f6);
  }
} // .hunter-stats

.token-demands {
  p {
    margin-top: 0;
  }
}

.steemhunt {
  display: flex;

  .left {
    width: 40%;
    margin-right: 8%;
    background-image: asset-url('sh-showcase.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    @include responsive(vertical) {
      display: none;
    }
  }

  .right {
    padding: 8.75rem 0;
    width: 40%;

    @include responsive(ipadpro) {
      width: 45%;
    }

    @include responsive(vertical) {
      width: 100%;
      padding: 8.75rem 5% 30rem 5%;
      background-image: asset-url('sh-showcase.png');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: -4rem 22rem;
    }

    h2 {
      margin-top: 0;
    }

    .btn {
      padding: 1.25rem 2.5rem;
    }
  }
}

.review-reinvented {
  margin-bottom: 9.375rem;
  padding: 5.625rem 0;
  text-align: center;

  h2 {
    margin: 0.8em 0 0 0;
  }

  h3 {
    margin: 0.3em 0 0 0;
  }

  .logo-circle-2 {
    width: 150px;
    height: 150px;
    object-fit: contain;

    @include responsive(mobile) {
      width: 100px;
      height: 100px;
    }
  }
}

.intro {
  overflow: hidden;
  text-align: center;
  margin-bottom: 150px;

  @include responsive(vertical) {
    margin-bottom: 100px;
  }

  @include responsive(mobile) {
    margin-bottom: 80px;
  }

  &.left {
    .text-box {
      float: left;
    }
    .feature-image {
      float: right;
      margin-left: 50px;
    }
  }
  &.right {
    .text-box {
      float: right;
    }
    .feature-image {
      float: left;
      margin-right: 50px;
    }
  }

  .text-box {
    text-align: left;
    vertical-align: top;
    display: inline-block;
    width: 37%;
    font-size: 3rem;

    @include responsive(vertical) {
      float: none !important;
      width: 100%;
    }

    @include responsive(mobile) {
      font-size: 2.5rem;
    }
  }

  .feature-image {
    vertical-align: top;
    display: inline-block;
    width: 55%;
    height: auto;
    object-fit: contain;

    @include responsive(vertical) {
      float: none !important;
      width: 100%;
      margin: 3rem 0 0 0 !important;
    }
  }
} // .intro

.footer {
  padding: 7.5rem 0;
  text-align: center;
  color: $black;

  .logo-circle {
    width: 150px;
    height: 150px;
  }

  h3 {
    margin-top: 1.25rem;
  }

  h2 {
    margin-top: 3.125rem;
  }

  .btn {
    color: $black;
    border-color: $black;
    margin: 0 0.5625rem;

    &.btn-primary {
      color: #fff;
      background-color: $black;
    }
  }

  .links {
    width: 280px;
    margin: 4rem auto 0 auto;
    text-align: center;
    font-size: 1.375rem;

    p {
      margin: 0.8rem 0;
      a {
        color: $black;
      }
    }
  }

} // .footer

