<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, maximum-scale=1">
    <style>
      /* Email styles need to be inline */
    </style>
  </head>

  <body style="background-color: #efefef;">
    <%= yield %>
  </body>
</html>
